[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
}

#addHour {
  border-radius: 100%;
}

#AddData {
  margin-top: -10px;
  margin-bottom: 10px;
}


body {
  margin: 0;
  font-family: 'IBM Plex Sans';
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #858796;
  text-align: left;
  background-color: #fff;
}

