{% extends "base_generic.html" %}


{% block month_selector %}
<div class="d-sm-flex justify-content-between align-items-center mb-4">
    <h3 class="text-dark mb-0">Dashboard</h3>
    <div class="dropdown d-xl-flex"><button class="btn btn-outline-primary dropdown-toggle text-center" data-toggle="dropdown" aria-expanded="false" type="button">Please select a month</button>
        <div class="dropdown-menu dropdown-menu-left" role="menu">
          {% for month in months %}
            <a class="dropdown-item" role="presentation" value="{{ month.month }}" href="{{month.get_absolute_url}}">{{ month }}</a>
          {% endfor %}
        </div>
    </div>
    <!--<a class="btn btn-primary btn-sm d-none d-sm-inline-block" role="button" href="#"><i class="fas fa-download fa-sm text-white-50"></i>&nbsp;Generate Report</a>-->
</div>
{% endblock %}

{% block content %}
{% endblock %}
