
{% block modalDay %}
<div class="text-right" style="/*margin-right: 200px;*//*padding-left: 30px;*/">
    <div class="modal fade" role="dialog" tabindex="-1" id="UpdateModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Update</h4><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button></div>
                <div class="modal-body">
                    <p>The content of your modal.</p>
                </div>
                <div class="modal-footer"><button class="btn btn-light" type="button" data-dismiss="modal">Close</button><button class="btn btn-primary" type="button">Save</button></div>
            </div>
        </div>
    </div><button class="btn btn-primary" id="addHour" type="button" data-toggle="modal" data-target="#UpdateModal">+</button>
</div>
{% endblock %}
